<META http-equiv="Content-Style-Type" content="text/css">

<STYLE type="text/css">
<!--
html {
background-color: #dddddd;
font-family:      Geneva,Arial,Helvetica, sans-serif;
}
body {
background-color: #dddddd;
font-family:      Geneva,Arial,Helvetica, sans-serif;
scrollbar-base-color: #d0d0d0
}

h2 {font-size: 100%;}
h4 {font-size: 80%;}
h5 {font-size: 80%;}
p  {font-size: 60%; color: #777777;}
em {font-style: normal; font-weight: bold;}

a:active  {color: blue; text-decoration: none;}
a:link    {color: blue; text-decoration: none;}
a:visited {color: blue; text-decoration: none;}
a:hover   {color: #000000; text-decoration: none;}

-->
</STYLE>
