div.notebook {
      float:left;
      width:100%;
      background:#ffffff url("tab_bg.gif") repeat-x bottom;
      font-size: 60%;
      font-weight:bold;
      line-height:normal;
}

div.nb_clear {
      clear: both;
}

div.notebook ul {
      margin:0;
      padding:10px 10px 0;
      list-style:none;
}

div.notebook li {
      float:left;
      background:url("tab_l.gif") no-repeat left top;
      margin:0;
      padding:0 0 0 9px;
}

div.notebook #inactive {
      color: #888888;
}

div.notebook a {
      display:block;
      background:url("tab_r.gif") no-repeat right top;
      padding:5px 15px 4px 6px;
}

div.notebook a:hover {
      color: #000000;
}

div.notebook #current {
      background-image:url("tab_l_on.gif");
}

div.notebook #current a {
      background-image:url("tab_r_on.gif");
      padding-bottom:5px;
      color: #000000;
}
