div.notebook {
      float:left;
      width:100%;
       background:#c7c7c7 url("tab_bg_bl.gif") repeat-x bottom;
	  background-image: linear-gradient(90deg, #c7c7c7, #e4e0e0);
      font-size:60%;
      line-height:normal;
}

div.notebook ul {
      margin:0;
      padding:10px 10px 0;
      list-style:none;
}

div.notebook li {
      float:left;
      background:url("tab_l_bl.gif") no-repeat left top;
      border-bottom    : 1px solid #AAAAAA;
      margin:0;
      padding:0 0 0 9px;
}

div.notebook a {
	  color: #0348f1;
	  font-weight: bold;
      display:block;
      background:url("tab_r_bl.gif") no-repeat right top;
      padding:5px 15px 4px 6px;
}

div.notebook a:hover {
      color: #000000;
}

div.notebook #current {
	  background-image:url("tab_l_on_bl.gif");
      border-width     : 0px;
}

div.notebook #current a {
	  font-weight: bold;
	  background-image:url("tab_r_on_bl.gif");
      padding-bottom:5px;
      color: #000000;
}
