div.notebook {
      float:left;
      width:100%;
      background:#dddddd url("tab_bg_gr.gif") repeat-x bottom;
      font-weight:bold;
      font-size:60%;
      line-height:normal;
}

div.nb_clear {
      clear: both;
}

div.notebook ul {
      margin:0;
      padding:0px 5px 0;
      list-style:none;
}

div.notebook li {
      float:left;
      background:url("tab_l_gr.gif") no-repeat left top;
      border-bottom    : 1px solid #777777;
      margin:0;
      padding:0 0 0 5px;
}

div.notebook a {
      display:block;
      background:url("tab_r_gr.gif") no-repeat right top;
      padding:5px 6px 5px 2px;
}

div.notebook a:hover {
      color: #000000;
}

div.notebook #current {
      background-image:url("tab_l_on_gr.gif");
      border-width     : 0px;
}

div.notebook #current a {
      background-image:url("tab_r_on_gr.gif");
      padding-bottom:6px;
      color: #000000;
}
