<META http-equiv="Content-Style-Type" content="text/css">

<STYLE type="text/css">
<!--
html {
background-color: black;
font-family:      Geneva,Arial,Helvetica, sans-serif;
font-weight:      bold;
}
body {
background-image: linear-gradient(90deg, #c7c7c7, #dcd7d7bf);
font-family:      Geneva,Arial,Helvetica, sans-serif;
}

a:active  {color: #bbbbbb; text-decoration: none;}
a:link    {color: #bbbbbb; text-decoration: none;}
a:visited {color: #bbbbbb; text-decoration: none;}
a:hover   {color: #ffffff; text-decoration: none;}
-->
</STYLE>
