<META http-equiv="Content-Style-Type" content="text/css">

<STYLE type="text/css">
<!--
html {
background-color: white;
font-family:      Geneva,Arial,Helvetica, sans-serif;
}
body {
background-color: white;
font-family:      Geneva,Arial,Helvetica, sans-serif;
scrollbar-base-color: #d0d0d0
}

h2 {font-size:100%;}
h3 {font-size: 90%;}
h4 {font-size: 80%;}
h5 {font-size: 80%;}

div.wrapper    {margin: 0 auto; padding-bottom: 60 px; position; relative;}
div.descr      {margin-left: 16mm; font-size: 80%;}
div.emphasis   {margin-left: 16mm; font-size: 80%; font-style: italic;}
div.indent     {margin-left: 24mm; font-size: 80%;}
div.indentcode {margin-left: 24mm;}
div.footer     {margin-top: 16mm;  font-size: 60%; color: #999999; width: 95%; text-align: right;}

table     {margin-left: 16mm;}
table.out {margin-left: 0mm; border-style: none; width: 100%; }
table.in  {margin-left: 0mm; border-style: none;}

tr.category  {background-color: #cccccc;}
tr.ruler     {background-color: #dddddd;}

td           {font-size: 80%;}
td.category  {font-weight: bold; padding-left: 10;}
td.mtrc      {font-family: "Courier New" Courier monospace; font-size: 80%; text-align: right; width: 80;}
td.mtrc_high {font-family: "Courier New" Courier monospace; font-size: 80%; font-weight: bold; text-align: right; width: 80;}
td.mtrc_name {font-family: "Courier New" Courier monospace; font-size: 80%;}
td.but       {font-size: 80%; color: #999999; background-color: #dddddd; border-style: outset;}
td.space     {background-color: #FFFFFF; padding: 0mm 0mm}
td.title     {font-size: 100%;}

img       {margin-left: 16mm; border-color: #CCCCCC;}

a:active  {color: blue; text-decoration: none;}
a:link    {color: blue; text-decoration: none;}
a:visited {color: blue; text-decoration: none;}
a:hover   {color: #000000; text-decoration: none;}

a.lnum           {color: #666666;}
a.descr          {color: #999999;}
a.hide           {color: white;}

a.legend         {font-size: 80%; color: #999999;}
a.legend:active  {font-size: 80%; color: #999999;}
a.legend:link    {font-size: 80%; color: #999999;}
a.legend:visited {font-size: 80%; color: #999999;}

a.footer         {color: #999999;}
a.footer:active  {color: #999999;}
a.footer:link    {color: #999999;}
a.footer:visited {color: #999999;}

h3 {text-indent: 2mm;}
h4 {text-indent: 8mm;}
h5 {text-indent: 16mm;}
pre         {margin-left: 16mm; tab-size: 4; -moz-tab-size: 4;}
pre.src     {margin-left: 0mm; background-color: white;}
pre.srchigh {margin-left: 0mm; background-color: #CCCCCC;}
#outertable {margin-left: 0mm;}
-->
</STYLE>
