
a.class{color: #CC00CC;}
a.class:active{color: #CC00CC;}
a.class:link{color: #CC00CC;}
a.class:visited{color: #CC00CC;}
a.class:hover{color: #000000;}

a.comments{background-color: #FFD5D3;}

a.file{color: #CD7B29;}
a.file:active{color: #CD7B29;}
a.file:link{color: #CD7B29;}
a.file:visited{color: #CD7B29;}
a.file:hover{color: #000000;}

a.function{color: #0000FF;}
a.function:active{color: #0000FF;}
a.function:link{color: #0000FF;}
a.function:visited{color: #0000FF;}
a.function:hover{color: #000000;}

a.libfunc{color: #0000FF;}
a.libfunc:active{color: #0000FF;}
a.libfunc:link{color: #0000FF;}
a.libfunc:visited{color: #0000FF;}
a.libfunc:hover{color: #000000;}

a.localvar{color: #009900;}
a.localvar:active{color: #009900;}
a.localvar:link{color: #009900;}
a.localvar:visited{color: #009900;}
a.localvar:hover{color: #000000;}

a.macro{color: #00CC99;}
a.macro:active{color: #00CC99;}
a.macro:link{color: #00CC99;}
a.macro:visited{color: #00CC99;}
a.macro:hover{color: #000000;}

a.namespace{color: #6600DD;}
a.namespace:active{color: #6600DD;}
a.namespace:link{color: #6600DD;}
a.namespace:visited{color: #6600DD;}
a.namespace:hover{color: #000000;}

a.pretype{color: #CD7B29;}
a.pretype:active{color: #CD7B29;}
a.pretype:link{color: #CD7B29;}
a.pretype:visited{color: #CD7B29;}
a.pretype:hover{color: #000000;}

a.subsystem{color: #0099CC;}
a.subsystem:active{color: #0099CC;}
a.subsystem:link{color: #0099CC;}
a.subsystem:visited{color: #0099CC;}
a.subsystem:hover{color: #0099CC;}

a.type{color: #B44848;}
a.type:active{color: #B44848;}
a.type:link{color: #B44848;}
a.type:visited{color: #B44848;}
a.type:hover{color: #000000;}

a.variable{color: #009900;}
a.variable:active{color: #009900;}
a.variable:link{color: #009900;}
a.variable:visited{color: #009900;}
a.variable:hover{color: #000000;}
